body{
    margin: 0;
    padding: 0;
    background-color: #0f0715;
    color: white;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    top: 15px;
    align-items: center;
    padding: 10px 0;
    z-index: 1;
    position: absolute;
    transition: background-color 0.3s, top 0.8s ease-out;
}

.navbar.fixed {
    position: fixed;
    height: 70px;
    background-color: black;
    animation: bounceDown 0.5s ease-out forwards;
}

@keyframes bounceDown {
    0% {
        top: -100px;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

.navbar a{
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
.links{
    margin-left: 150px;
    margin-right: 30px;
}

.links a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    color: white;
    transition: color 0.3s ease;
}

.links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6f41ce; 
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
.links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.hire{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 35px;
    background-color: #6f41ce;
}

.menu-icon{
    display: none;
    color: white;
}

/* herosection */
.herosection{
    display: flex;
    gap: 50px;
    width: 80%;
    margin: 110px auto;
    color: white;
}

.image img{
    width: 420px;
    height: 450px;
    margin-top: 20px;
    border: 2px solid #441769;
    border-radius: 40px;
    filter: grayscale(100%);
    transform: rotate(4deg);
}
.image img:hover{
    filter: grayscale(0%);
    border: 2px solid #6f41ce;
    transform: rotate(0deg);

}

.text{
    margin-top: 40px;
}

.name{
    font-size: 40px;
}
.text h1{
    margin: 8px;
}

.text .work{
    font-size: 60px;
}

.text p{
    font-size: 25px;
    width: 570px;
    font-family: sans-serif;
}

.cv{
    width: 180px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 35px;
    border: 1px solid #834ef1;
    
}

.cv a{
    font-family: sans-serif;
    color: #7948dc;
    text-decoration: none;
}

.cv:hover{
    background-color: #6f41ce;
    color: white;
}
.icons{
    display: flex;
    align-items: center;
    width: 50%;
   
}

@keyframes blink {
    0% { color: #5828b8; }
    100% { color: #321c5c; }
    50% { color: #834ef1; } 
}

.blink {
    animation: blink 4s infinite;
}

.media-icons{
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 290px;
    padding: 20px;
    justify-content: space-around;
    
}

.media-icons a{
    color: #834ef1;
    padding-top: 3px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #834ef1;
    border-radius: 50%;
    width: 60px;
    height: 60px; 
}

.work{
    padding-top: 50px;
    height: 15vh;
}
.media-icons a:hover{
    background-color: #6f41ce;
    color: white;
}

/* counter section */
.counters{
    height: 20px;
    display: flex;
    width: 80%;
    font-family: sans-serif;
    padding-left: 40px;
    justify-content: space-between;
}
.years{
   display: flex;
   align-items: center;
   gap: 10px;
   width: 60px;
   font-size: 20px;
}

.num{
    font-size: 70px;
    font-weight: bolder;
    color: #00008b;
}
.num1{
    font-size: 50px;
    font-weight: bolder;
    color: #00008b;
}

/* service */
.service-container {
    background-color: #000;
    margin-top: 150px;
    padding-bottom: 50px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.service-head {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.service-head p {
    font-size: 19px;
    width: 60%;
    margin: 20px auto 0;
    line-height: 1.6;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /* width: 80%; */
    margin: 0 auto;
}

.service-box {
    background-color: #140c1c;
    border-radius: 20px;
    width: 300px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box i {
    color: #6f41ce;
    margin-bottom: 20px;
}

.service-box h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box p {
    font-size: 16px;
    line-height: 1.5;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.service-box:hover i {
    color: #5828b8;
}


/* works */
.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.work-content{
    position: relative;
    background-color: #140c1c;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    transition: transform 0.3s ease;
    align-items: center;
    width: 600px;
    height: 550px;
    opacity: 1;

    /* margin: auto; */
}
.work-content img{
    border-radius: 8px;
    padding-top: 40px;
    width: 500px;
    height: 500px;
    transition: opacity 0.3s ease;
}

.recent{
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;
}

.sub-content{
    display: none;
    position: absolute;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    background-color: #834ef1;
    bottom: 25px;
    transition: opacity 0.3s ease;
}

.arrow{
   rotate: 180deg;
}
.arrow a{
    color: white;
}

.work-content:hover .sub-content {
    display: block;
    display: flex;
    gap: 90px;
    padding: 20px;
    align-items: center; 
    opacity: 1;
}

.work-container{
    margin: 0 auto;
    padding: 20px;
    margin-top: 130px;
}

/* Resume */
.resume-container{
    background-color: black;
    display: flex;
    margin-top: 250px;
    padding-top: 100px;
    height: 850px;
    justify-content: space-around;
}

.resume-container h1{
    font-size: 38px;
    margin: 60px 40px;
}

.date{
    background-color: #140c1c;
    width: 570px;
    font-family: sans-serif;
    font-size: 25px;
    padding: 20px 20px;
    border-radius: 30px;
    height: 120px;
    margin: 30px; 
}

.date:hover{
    background-color: #834ef1;
    transition: 3S;
}

.date p{
    margin: 10px;
}

.time{
    color: #5033e9;

}
.title{
    font-size: 26px;
    font-weight: bolder;
}

.venue{
    font-size: 21px;
}

/* My Skills */

.skills-head{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    width: 80%;
    padding-top: 90px;
    margin: auto;
}

.skills-head p{
    width: 59%;
    font-size: 19px;
    margin-left: 20%;
}

.skill-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    align-items: center;
    text-align: center;
}

.skill-icons{
    background-color: #140c1c;
    width: 180px;
    height: 180px;
    display: flex;
    border: 1px solid transparent;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
}

.skill-icons:hover{
    background-color: #5846f7;
    border: 2px solid #837ad8;
}

.skill-icons + p{
    color: #5846f7;
    font-size: 20px;
}
/* testimonial */

/* Contact */
.contact-container{
    display: flex;
    background-color: black;
    margin-top: 80px;
}

.contact-head{
    width: 90%;
    padding: 30px 0;
}
.contact-head h1{
    font-size: 45px;
    margin: 0;
}

.contact-input{
    width: 45.5%;
    margin: 90px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #140c1c;
    border-radius: 20px;
}

.inputs{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

input{
    width: 240px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: black;
}


.inputs input,
.inputs select,
.inputs textarea {
    font-size: 16px;
    border: 1px solid transparent;
    transition: border-color 0.3s;
}

input:focus,
select:focus,
textarea:focus {
   border-color: #5846f7;
   outline: none;
}



select{
    width: 580px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    background-color: black;
}
textarea{
    width: 92%;
    height: 140px;
    padding: 15px;
    border-radius: 18px;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    background-color: black;
}
option{
    background-color: white;
    color: black;
}

.message{
    width: 180px;
    display: flex;
    margin-top: 15px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #5828b8;
    border-radius: 35px;
    border: 1px solid #834ef1;
    
}

.message button{
    font-size: 20px;
    color: white;
    outline: none;
    background-color: #5828b8;
    border: none;
}

.contact-details{
    display: flex;
    width: 40%;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
}

.email{
    color: white;
    text-decoration: none;
}
.email:hover{
    color: #7948dc;
}

.details{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: white;
    
}

#detail-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6339b7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

span:hover{
    color: #7948dc;
    transition: 2s;
}

/* Footer */
.footer{
    display: flex;
    margin-top: 70px;
    align-items: center;
    flex-direction: column;
}

.footer img{
    filter: grayscale(100%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 50px auto;
    /* padding: 30px; */
}
.footer img:hover{
    filter: grayscale(0%); 
}

.footer p {
    color: #7948dc;   
}

.footer-links a{
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    color: white;
}

.footer-links a:hover{
    border-bottom: 2px solid #6f41ce;
}

.sam{
    display: none;
}

.pics{
    display: none;
}



@media screen and (max-width: 690px) {
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: #1a0b25;
    }
    .hire{
       min-width: 100px;
        
    }
    .navbar{
        width: 100%;
    }
    .menu-icon{
        padding-right: 20px;
        display: block;
        cursor: pointer;
    }
    .menu-icon:active{
        color: red;
    }
    .sam{
        display: block;
        font-size: 35px;
        padding-left: 30px;
        padding-right: 190px;
        font-weight: bolder;
    }
    .mail{
        display: none;
    }

    .links{
        display: none;
    }

    
   
    /* counter */
    .counters{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        justify-content: space-around;
        padding: 10px 10px;
        margin: 0 auto;
    }
    .years{
        height: 130px;
       display: flex;
       align-items: center;
       width: 150px;
       font-size: 19px;
    }
    
    .num{
        font-size: 70px;
        font-weight: bolder;
        color: #00008b;
    }
    /* herosection */
    .herosection{
        display: flex;
        flex-direction: column;
    }

    #container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .paragraph p{
        width: fit-content;
        margin: 20px;
    }
    
    .icons{
        width: 80%;
        padding: 20px;
    }
    .pics{
        display: block;
        width: 60%;
        height: 300px;
        margin: auto;
        margin-top: 20px;
        border: 2px solid #441769;
        border-radius: 40px;
        filter: grayscale(100%);
        transform: rotate(4deg);
    }
    
    .pics:hover{
        filter: grayscale(0%);
        border: 2px solid #6f41ce;
        transform: rotate(0deg);
    
    }

    .image{
        display: none;
    }

    .service-container {
       width: 100%;
    }

    .media-icons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
        width: 60%;
        padding: 20px;
        justify-content: space-around;
        
    }
    
    .media-icons a{
        color: #834ef1;
        padding-top: 3px;
        box-sizing: border-box;
        text-align: center;
        border: 1px solid #834ef1;
        border-radius: 50%;
        width: 60px;
        height: 60px; 
    }
    .cv{
        min-width: 150px;
        
        
    }

    /* work */
    .work-container{
        width: 90%;
        padding: auto;
    }
    .sub-content{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        width: 90%;
        border-radius: 10px;
        padding: 10px;
        background-color: #834ef1;
        bottom: 25px;
    }
    .work{
        height: 10vh;
        padding-top: 0;
        font-size: 30px;
    }
    
    .typed-text{
        font-size: 40px;
        width: 290px;

    }

    .work-content {
        width: 100%;
    }

    .work-content img{
        width: 80%;
        height: 65vh;
    }

    .sub-content {
        bottom: 10px;
        padding: 5px;
    }

    .service-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .service-head h1 {
        font-size: 2em;
    }

    .service-head p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding: 10px 10px;
        font-size: 22px;
    }

    .container2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin: 0 auto;
    }

    .service-box {
        background-color: #140c1c;
        border-radius: 20px;
        width: 80%;
        margin: 0 auto;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    

    /* resume */
    .resume-container{
        background-color: black;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 250px;
        padding-top: 100px;
        
    }
    .date{
        background-color: #140c1c;
        width: 80%;
        font-family: sans-serif;
        font-size: 18px;
        padding: 20px 20px;
        border-radius: 30px;
        height: 120px;
        margin: 30px auto; 
    }
    
    .my-skills{
        display: flex;
        flex-direction: column;
    }

    .skill-icons{
        border: 2px solid #441769;
    }
    
    .skill-container{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .skills-head{
        width: 100%;
        font-size: 30px;
    }
    
    .skills-head p{
        width: 90%;
        margin: auto ;   
    }

    .title{
        font-size: 22px;
        font-weight: bolder;
    }

    /*  */
    .contact-container{
        display: flex;
        flex-direction: column-reverse;
        background-color: black;
        margin-top: 80px;
        padding-bottom: 50px;
    }

    .contact-details{
        display: flex;
        width: 70%;
        margin: auto;
        padding-top: 20px;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
    }

    .contact-input{
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        padding-bottom: 50px;
        background-color: #140c1c;
        border-radius: 20px;
    }
    .contact-head{
        width: 100%;
        padding: 30px 0;
    }
    .contact-head h1{
        font-size: 35px;
        margin: 0;
    }
    
    .inputs{
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }
    
    input{
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        background-color: black;
    }
    /* service-container */
    .service-container{
        background-color: black;
        margin-top: 150px;
        padding-bottom: 50px;
    }
    .container2{
        display: flex;
        width: 100%;    
        flex-direction: column;
        align-items: center;
        /* height: 120vh; */
        gap: 30px;
        text-align: center;
    }


    .message button{
        border-radius: 40px;
        font-size: 18px;
        color: white;
        outline: none;
        background-color: #5828b8;
        border: none;
    }
    /* footer */
    
    .footer{
        width: 100%;
        padding-bottom: 20px;
    }
    .footer-links {
        
        font-size: 14px;
        text-decoration: none;
        padding: 5px 20px;
        color: white;
    }
}

